@media screen and (min-width:600px) {
    * {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
        min-height: 100vh;
        min-width: 100%;
    }

    header {
        height: 150px;
        width: 100%;
        background-image: url(../images/banner.png);
        display: flex;
        position: fixed;
        margin-bottom: 15px;
    }

    #logo {
        height: 130px;
        margin: 10px;
    }

    #btnContainer {
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-right: 140px;
    }

    .headerbtns {
        color: #fff5e6;
        background-color: rgba(0, 0, 0, 0);
        font-family: Montserrat SemiBold;
        border-style: none;
        font-size: 20px;
        font-weight: 600;
        height: fit-content;
        margin-top: 120px;
        margin-right: 30px;
        text-shadow: 1px 1px #000000;
    }

    .headerbtns:hover {
        color: #cc5c0e;
        transition: 1s;
        cursor: pointer;
    }

    #headerGap {
        height: 150px;
    }

    body {
        background-color: #fff5e6;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100%;
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }

    h1 {
        height: fit-content;
        font-size: 28px;
        font-family: Montserrat SemiBold;
        font-weight: bolder;
        text-shadow: 0.5px 0.5px #a95004;
        margin-top: 10px;
        color: #cc5c0e;
        text-align: center;
    }

    h2 {
        height: fit-content;
        margin-top: 10px;
        font-size: 24px;
        font-family: Montserrat SemiBold;
        text-shadow: 0.5px 0.5px #cc5c0e;
        padding-left: 10px;
        color: #a95004;
        text-align: center;
        
    }

    p {
        height: fit-content;
        width: 40vw;
        margin-top: 10px;
        padding: 0 20px;
        font-size: 16px;
        font-family: Montserrat Regular;
        font-weight: 500;
        align-self: center;
        text-justify: justify;
        text-align: justify;
    }

    ul{
        list-style-type: circle;
        height: fit-content;
        width: 35vw;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0 20px;
        font-size: 16px;
        font-family: Montserrat Regular;
        font-weight: 500;
        align-self: center;
        text-justify: justify;
        text-align: justify;
    }

    li{
        margin-top: 10px;
    }

    ul ol{
        list-style-type:decimal;
        height: fit-content;
        width: 30vw;
        margin-top: 10px;
        padding: 0 20px;
        font-size: 16px;
        font-family: Montserrat Regular;
        font-weight: 500;
        align-self: center;
        text-justify: justify;
        text-align: justify;
    }

    footer {
        margin-top: 10px;
        height: fit-content;
        width: 100%;
        position: relative;
        background-color: #cc5c0e;
        display: flex;
        flex-wrap: wrap;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: space-around;
        align-items: flex-start; /* Ensure items align at the top */
    }
    #logoFooter{
        width: 85px;
    }
    #contato{
        flex: 0 1 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        margin: 10px;
        box-sizing: border-box;
    }
    #contato h3{
        color: white;
        font-family: Montserrat SemiBold;
    }
    #icones{
        margin: 10px;
        display: flex;
        flex-direction: row;
    }
    #mapContainer {
        flex: 0  1 30%; /* Adjust the width of the map container */
        max-width: 100%; /* Set maximum width for the map container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    #mapContainer h3 {
        margin-top: 20px; /* Add margin to the top of the title */
        margin-bottom: 10px; /* Add margin to the bottom of the title */
        font-family: Montserrat SemiBold;
    }
    .icones{
        padding-right: 10px;
        width: 50px;
    }
    .footer-section {
        width: 30%; /* Let each section take up to 30% of the available space */
        max-width: 300px; /* Set maximum width for each section */
        margin: 10px; /* Add some spacing between sections *//* Add internal padding */
        color: white; /* Text color */
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .footer-section h3 {
        font-family: Montserrat SemiBold;
        margin-bottom: 18px;
    }

    .footer-section p {
        margin-bottom: 10px; /* Add bottom margin for paragraphs */
        width:100%;
        text-align: justify;
        text-justify: justify;
    }


    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
        margin: 30px;
    }

    #imageRecepcao{
        width: 450px;   
        height: 300px; 
        border-radius: 15px;
        border: 3px solid #cc5c0e;
    }
    #imageInterior{
        width: 450px;
        border-radius: 15px;
        border: 3px solid #cc5c0e;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
        margin: 30px;
    }
        
    #imageQuartos{
        width: 450px;
        height: 300px;
        border-radius: 15px;
        border: 3px solid #cc5c0e;
    }    

    #imageCozinhas{
        width: 450px;
        height: 300px;
        border-radius: 15px;
        border: 3px solid #cc5c0e;
    }

    #imageBanheiro{
        width: 450px;
        height: 300px;
        border-radius: 15px;
        border: 3px solid #cc5c0e;
    }

    #p-salas {
        margin-bottom: 20px;
    }

    #whatsapp {
        height: 60px;
        display: flex;
        justify-content: space-between;
        margin-left: calc(100vw - 125px);
        margin-top: 85vh;
    }
    #wppBtn{
        width: 60px;
        height: 60px;
        display: flex;
        position: fixed;
    }
}
