*{
    margin:0px;
    padding: 0px;
    
}
header{
    height: 150px;
    width: 100vw;
    background-image: url(../images/banner.png);
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-bottom: 15px;
}

#logo{
    height: 130px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerbtns{
    color: #fff5e6;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    font-size: 20px;
    font-weight: 600;
    height: fit-content;
    margin-top: 120px;
    padding-left: 15px;
    text-shadow: 1px 1px #000000;

}
.headerbtns:hover:hover{
    color: #cc5c0e;
}

body{
    background-color: #fff5e6;
}

#headerGap{
    height:150px;
}