*{
    margin:0px;
    padding: 0px;
    
}
html{
    height: 100%;
    min-height: 100vh;
    min-width: 10vw;
}

header{
    height: 150px;
    width: 100vw;
    background-image: url(../images/banner.png);
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-bottom: 15px;
    
}

#logo{
    height: 130px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerbtns{
    color: #fff5e6;
    background-color: rgba(0, 0, 0, 0);
    font-family: Montserrat SemiBold;
    border-style: none;
    font-size: 20px;
    font-weight: 600;
    height: fit-content;
    margin-top: 120px;
    padding-left: 15px;
    text-shadow: 1px 1px #000000;

}
.headerbtns:hover:hover{
    color: #cc5c0e;
}

#headerGap{
    height: 150px;
}

body{
    background-color: #fff5e6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

h1{
    font-size: 28px;
    font-family: Montserrat SemiBold;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px #a95004;
    padding-left: 5px;
    margin-top: 10px;
    color: #cc5c0e;
    width:fit-content;
}

h2{
    margin-top: 10px;
    width: fit-content;
    font-size: 24px;
    font-family: Montserrat SemiBold;
    text-shadow: 0.5px 0.5px #cc5c0e;
    padding-left: 10px;
    color: #a95004;
}

p{
    height: fit-content;
    width: 40vw;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: Montserrat Regular;
    font-weight: 500;
    margin-bottom: 5px;
   
}

footer{
    background-color: #cc5c0e;
    background-repeat: repeat-y;
    height: 270px;
    margin-top: auto;
    width: 100%;
    position:initial;
}

.icones {
    padding: 10px;
}
.col-100 {
    .col-100 {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
    }
 }
.content {
	margin:0 auto ;
	width: 988px;
	position: relative;

}
.col-5 {
    float: left;
    width: 25%;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 17px;
    padding-right: 80px;
    padding-left: 10px;
}


.footer h3 {
        text-align: left;
    
    }
    .footer p a {
        width: 90%;
        text-align: left;
        color:  #000000;
    }
    .footer {
        background-image: url('../img/campo2.png');
        color:  #000000;
        
    }
    .footer-2 p {
        padding: 10px;
        text-align: center;
    }
          
    .footer-2 {
       
        color: #000000;
        height: 90px;
        text-align: center !important;
    }    
    .negritoFotter {
        font-size: 25px;
        font-family: Montserrat SemiBold; 
    }
    .negritoFotter1 {
        font-size: 16px;
        font-family:Montserrat SemiBold; 
    }
    .sobre {
        font-size: 14px;
        margin: 0;
        width: fit-content;
    }

#imageRecepcao{
    width: 450px;   
    height: 300px; 
    border-radius: 15px;
    border: 3px solid #cc5c0e;
}
#imageInterior{
    width: 450px;
    border-radius: 15px;
    border: 3px solid #cc5c0e;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 30px;
}
    
#imageQuartos{
    width: 450px;
    height: 300px;
    border-radius: 15px;
    border: 3px solid #cc5c0e;
}    

#imageCozinhas{
    width: 450px;
    height: 300px;
    border-radius: 15px;
    border: 3px solid #cc5c0e;
}

#imageBanheiro{
    width: 450px;
    height: 300px;
    border-radius: 15px;
    border: 3px solid #cc5c0e;
}
 #p-salas{
    margin-bottom: 20px;
 }
    
#whatsapp{
    height: 60px; 
    display: flex;
    justify-content: space-between;
    margin-left:calc(100vw - 250px);
    margin-top: 5vh;
}
    
